/*Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.aboutUs {
  width: 100%;
  color: #101414;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 25px;
  display: flex;
  flex-wrap: wrap; }
  .aboutUs .aboutUs__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px; }
    .aboutUs .aboutUs__container .aboutUs__container__titulo {
      font-size: 1.6rem;
      text-align: center;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 30px; }
    .aboutUs .aboutUs__container .aboutUs__container__description {
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: 15px;
      line-height: 40px;
      letter-spacing: 1.5px;
      text-align: center; }
  .aboutUs .aboutUs__galeria {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background: #f0f5f5; }
    .aboutUs .aboutUs__galeria .aboutUs__galeria__img {
      padding: 15px; }
    .aboutUs .aboutUs__galeria .aboutUs__galeria__img img {
      width: 250px;
      height: 280px;
      padding: 15px;
      margin: 15px;
      object-fit: cover;
      transition: all 1s;
      filter: grayscale(100%); }
      .aboutUs .aboutUs__galeria .aboutUs__galeria__img img:hover {
        filter: grayscale(0%);
        -webkit-transform: scale(1.3);
        transform: scale(1.3); }

/*Mobile First*/
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.5rem; }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 1.1rem; }
    header .header__menu__container .ul__li {
      text-align: center; }
    header .header__menu__container .header__menu__container__button {
      margin-right: 65px;
      margin-bottom: 30px; }
  .aboutUs {
    font-size: 1rem;
    line-height: 20px; }
    .aboutUs .aboutUs__container {
      margin-top: 10px;
      margin-left: 10px; }
      .aboutUs .aboutUs__container .aboutUs__container__titulo {
        font-size: 1.5rem; }
      .aboutUs .aboutUs__container .aboutUs__container__description {
        margin-left: 25px;
        margin-right: 25px;
        line-height: 30px;
        margin-top: 0px; }
    .aboutUs .aboutUs__galeria {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      padding-top: 20px; }
      .aboutUs .aboutUs__galeria .aboutUs__galeria__img {
        padding: 10px; }
      .aboutUs .aboutUs__galeria .aboutUs__galeria__img img {
        width: 170px;
        height: 200px; }
  .footer {
    padding: 1px;
    height: 420px;
    display: flex;
    flex-direction: column;
    grid-area: footer; }
    .footer .footer__titulo {
      margin-top: 30px;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 1.3rem; }
    .footer .footer__contact {
      margin-right: 5px;
      margin-left: 10px;
      line-height: 2rem;
      padding: 10px;
      font-size: 1rem;
      margin-bottom: 0px; }
  .footer__redes {
    margin: 0 auto;
    margin-bottom: 2px;
    margin-right: 70px;
    font-size: .9em; } }

/*Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.pedido {
  color: #2b2c2c;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px; }
  .pedido .pedido__cont .pedido__cont__tienda {
    margin-top: 30px; }
    .pedido .pedido__cont .pedido__cont__tienda .pedido__cont__tienda__titulo {
      font-size: 1.4em;
      font-weight: 600;
      margin-top: 30px;
      margin-bottom: 30px; }
    .pedido .pedido__cont .pedido__cont__tienda .pedido__cont__tienda__link:hover {
      color: white;
      background-color: black; }
  .pedido .pedido__galeria {
    margin-top: 50px;
    display: flex;
    justify-content: space-around; }
    .pedido .pedido__galeria .pedido__galeria__card {
      text-align: center;
      box-shadow: #6d6b6b;
      -webkit-box-shadow: 2px 2px 4px #6d6b6b;
      -moz-box-shadow: 2px 2px 4px #6d6b6b;
      transition: all 1s; }
      .pedido .pedido__galeria .pedido__galeria__card:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
      .pedido .pedido__galeria .pedido__galeria__card .pedido__galeria__card__img {
        width: 12rem;
        margin-left: 7px;
        margin-top: 7px;
        object-fit: cover;
        box-shadow: #6d6b6b;
        -webkit-box-shadow: 2px 2px 6px #6d6b6b;
        -moz-box-shadow: 2px 2px 6px #6d6b6b; }
      .pedido .pedido__galeria .pedido__galeria__card .pedido__galeria__card__p {
        color: #086964;
        font-weight: bold; }

/*Mobile First*/
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.5rem; }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 1.1rem; }
    header .header__menu__container .ul__li {
      margin-left: 80px;
      padding: 10px; }
    header .header__menu__container .header__menu__container__button {
      margin-right: 65px;
      margin-bottom: 30px; }
  .pedido {
    height: auto;
    margin: 10px;
    padding: 10px; }
    .pedido .pedido__cont {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 1px; }
      .pedido .pedido__cont .pedido__cont__tienda {
        width: 100%; }
        .pedido .pedido__cont .pedido__cont__tienda .pedido__cont__tienda__titulo {
          font-size: 1.2rem;
          font-weight: 600; }
        .pedido .pedido__cont .pedido__cont__tienda .pedido__cont__tienda__text {
          font-size: 1.1rem;
          line-height: 23px; }
    .pedido .pedido__galeria {
      margin-top: 20px; }
      .pedido .pedido__galeria .pedido__galeria__card {
        background-color: #f1f0f0; }
        .pedido .pedido__galeria .pedido__galeria__card .pedido__galeria__card__img {
          width: 10rem;
          margin-left: 20px; }
        .pedido .pedido__galeria .pedido__galeria__card .pedido__galeria__card__text {
          font-size: 1.1rem; }
        .pedido .pedido__galeria .pedido__galeria__card .pedido__galeria__card__p {
          font-size: .9rem; }
  .footer {
    padding: 1px;
    height: 420px;
    display: flex;
    flex-direction: column;
    grid-area: footer; }
    .footer .footer__titulo {
      margin-top: 30px;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 1.3rem; }
    .footer .footer__contact {
      margin-right: 5px;
      margin-left: 10px;
      line-height: 2rem;
      padding: 10px;
      font-size: 1rem;
      margin-bottom: 0px; }
  .footer__redes {
    margin: 0 auto;
    margin-bottom: 2px;
    margin-right: 70px;
    font-size: .9em; } }

/*Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.recetas {
  color: #101414;
  letter-spacing: 1px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px; }
  .recetas .recetas__cont .recetas__cont__titulo {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center; }
  .recetas .recetas__cont .recetas__cont__titulo--size {
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; }
  .recetas .recetas__cont .recetas__cont--ingr {
    margin: 15px;
    padding: 15px; }
  .recetas .recetas__cont .recetas__cont--pasos {
    margin: 15px;
    padding: 15px; }
  .recetas .recetas__cont .recetas__cont__list li {
    list-style-type: circle; }
  .recetas .recetas__cont .recetas__cont__img {
    width: 200px;
    height: 220px;
    object-fit: cover;
    margin-top: 30px;
    margin-left: 210px;
    opacity: .9;
    box-shadow: #6d6b6b;
    -webkit-box-shadow: 2px 2px 6px #6d6b6b;
    -moz-box-shadow: 2px 2px 6px #6d6b6b;
    transition: all 1s; }
    .recetas .recetas__cont .recetas__cont__img:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }

/*Mobile First*/
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.5rem; }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 1.1rem; }
    header .header__menu__container .ul__li {
      margin-left: 80px;
      padding: 10px; }
    header .header__menu__container .header__menu__container__button {
      margin-right: 60px; }
  .recetas {
    height: auto;
    line-height: 25px;
    margin: 10px;
    padding: 10px; }
    .recetas .recetas__cont {
      width: auto;
      justify-content: center; }
      .recetas .recetas__cont .recetas__cont__titulo {
        font-size: 1.2rem;
        margin-bottom: 20px;
        margin-top: 10px; }
      .recetas .recetas__cont .recetas__cont__titulo--size {
        margin-left: 15px;
        font-size: 1.1rem; }
      .recetas .recetas__cont .recetas__cont--ingr {
        margin: 5px;
        padding: 5px;
        font-size: 1.2rem; }
      .recetas .recetas__cont .recetas__cont--pasos {
        margin: 5px;
        padding: 5px;
        font-size: 1.2rem; }
      .recetas .recetas__cont .recetas__cont img {
        width: 220px;
        margin-left: 50px;
        margin-right: 10px;
        margin-bottom: 30px; }
  .footer {
    padding: 1px;
    height: 420px;
    display: flex;
    flex-direction: column;
    grid-area: footer; }
    .footer .footer__titulo {
      margin-top: 30px;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 1.3rem; }
    .footer .footer__contact {
      margin-right: 5px;
      margin-left: 10px;
      line-height: 2rem;
      padding: 10px;
      font-size: 1rem;
      margin-bottom: 0px; }
  .footer__redes {
    margin: 0 auto;
    margin-bottom: 2px;
    margin-right: 70px;
    font-size: .9em; } }

/*Variables*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contact {
  display: flex;
  justify-content: center;
  line-height: 80px; }
  .contact .contact__form {
    margin: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    border: #101414 double 2px;
    width: 50%;
    font-size: 1.1em; }
    .contact .contact__form .contact__form__input .contact__form__input__text {
      font-family: 'Poppins', sans-serif;
      height: 30px;
      width: 50%;
      padding-left: 5px; }
    .contact .contact__form .contact__form__input .contact__form__input__comentario {
      font-family: 'Poppins', sans-serif;
      height: 250px;
      width: 75%;
      line-height: 3; }
    .contact .contact__form .contact__form__input__buttons {
      text-align: center;
      line-height: 1; }
      .contact .contact__form .contact__form__input__buttons .contact__form__input__buttons--reset {
        background-color: #2b2c2c;
        color: #f7f6f1;
        width: 10%;
        height: 50px; }
      .contact .contact__form .contact__form__input__buttons .contact__form__input__buttons--send {
        background-color: #2b2c2c;
        color: #f7f6f1;
        width: 10%;
        height: 50px; }
    .contact .contact__form .contact__form__thanks {
      text-align: center;
      margin-top: 30px;
      font-size: 1.1em;
      animation-name: aparecer;
      animation-timing-function: ease;
      animation-duration: 5s;
      animation-iteration-count: infinite; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*Mobile First*/
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.5rem; }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 1.1rem; }
    header .header__menu__container .ul__li {
      margin-left: 80px;
      padding: 10px; }
    header .header__menu__container .header__menu__container__button {
      margin-right: 65px;
      margin-bottom: 30px; }
  .footer {
    padding: 1px;
    height: 420px;
    display: flex;
    flex-direction: column;
    grid-area: footer; }
    .footer .footer__titulo {
      margin-top: 18px;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 1.3em; }
    .footer .footer__contact {
      margin-right: 5px;
      margin-left: 10px;
      line-height: 2rem;
      padding: 10px;
      font-size: 1.1em;
      margin-bottom: 0px; }
  .footer__redes {
    margin: 0 auto;
    margin-bottom: 2px;
    margin-right: 70px;
    font-size: .9em; }
  .contact {
    width: 100%;
    font-size: 1rem; }
    .contact .contact__form {
      margin: 10px;
      padding: 10px;
      border: #101414 double 2px;
      width: 90%;
      height: 950px;
      font-size: 1.1em;
      line-height: 60px; }
      .contact .contact__form .contact__form__input .contact__form__input__text {
        width: 80%; }
      .contact .contact__form .contact__form__input .contact__form__input__select {
        width: 80%; }
        .contact .contact__form .contact__form__input .contact__form__input__select .contact__form__input__select__option {
          font-size: .6em; }
      .contact .contact__form .contact__form__input .contact__form__input__novedades {
        font-size: 1.1em; }
      .contact .contact__form .contact__form__input .contact__form__input__comentario {
        margin-left: 10px;
        height: 250px;
        padding: 5px; }
      .contact .contact__form .contact__form__input .contact__form__input__buttons--reset {
        width: 20%; }
      .contact .contact__form .contact__form__input .contact__form__input__buttons--send {
        width: 20%; } }

/*Variables*/
/*Mixin*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f7f6f1;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: .9rem; }

.header {
  background-color: #2b2c2c;
  width: 100%;
  font-size: .9rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  grid-area: header; }
  .header .header__imgLogo {
    border-radius: 90%;
    margin-left: 20px; }
  .header .header__menu {
    background-color: #2b2c2c;
    margin: 0 auto;
    margin-right: 80px;
    display: flex;
    flex-wrap: wrap; }
    .header .header__menu .header__menu__container .ul__li {
      list-style: none;
      display: inline-block;
      padding: 30px; }
      .header .header__menu .header__menu__container .ul__li .ul__li__link {
        color: #fffbdf;
        text-decoration: none;
        opacity: 1; }
        .header .header__menu .header__menu__container .ul__li .ul__li__link:hover {
          background-color: #e6e3e3;
          color: #2b2c2c; }
      .header .header__menu .header__menu__container .ul__li .ul__li__link--contact:hover {
        background-color: #c5f7ec; }

.contenedorMain {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  grid-template-areas: "productos productos promos" "productos productos promos" "tips tips tips"; }
  .contenedorMain .productos {
    color: #101414;
    letter-spacing: 0.5px;
    border: black 2.5px double;
    margin: 10px;
    padding: 5px;
    padding-bottom: 20px;
    grid-area: productos; }
    .contenedorMain .productos .productos__titulo {
      font-size: 1.8rem;
      text-align: center;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 30px; }
    .contenedorMain .productos .productos__contenedor {
      padding-top: 50px; }
      .contenedorMain .productos .productos__contenedor .productos__contenedor__img {
        padding: 10px;
        width: 200px;
        height: 350px;
        object-fit: cover;
        transition: all 1s; }
        .contenedorMain .productos .productos__contenedor .productos__contenedor__img:hover {
          -webkit-transform: scale(1.2);
          transform: scale(1.1); }
        .contenedorMain .productos .productos__contenedor .productos__contenedor__img .productos__contenedor__img__text {
          text-align: center; }
  .contenedorMain .promos {
    color: #f7f6f1;
    background-color: #2b2c2c;
    text-transform: initial;
    letter-spacing: 1px;
    margin: 10px;
    padding: 10px;
    grid-area: promos;
    display: flex;
    display: block; }
    .contenedorMain .promos .promos__titulo {
      font-size: 1.8rem;
      text-align: center;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 30px; }
    .contenedorMain .promos .promos__contenedor .promos__contenedor__promo {
      display: flex;
      padding: 10px;
      opacity: .8;
      justify-content: center;
      transition: all 1s; }
      .contenedorMain .promos .promos__contenedor .promos__contenedor__promo:hover {
        opacity: 1; }
    .contenedorMain .promos .promos__novedades {
      text-align: center;
      line-height: 60px; }
      .contenedorMain .promos .promos__novedades .promos__novedades__text {
        color: #f7f6f1;
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 20px;
        padding: 10px; }
      .contenedorMain .promos .promos__novedades .promos__novedades__logo {
        transition: all 1s; }
        .contenedorMain .promos .promos__novedades .promos__novedades__logo:hover {
          -webkit-transform: scale(1.2);
          transform: scale(1.1); }
  .contenedorMain .tips {
    width: 99%;
    color: #101414;
    text-transform: initial;
    border: #101414 2.5px double;
    margin: 10px;
    margin-bottom: 40px;
    padding: 20px;
    padding-bottom: 30px;
    grid-area: tips; }
    .contenedorMain .tips .tips__titulo {
      font-size: 1.8rem;
      text-align: center;
      font-weight: bold;
      margin-top: 40px;
      margin-bottom: 30px; }
    .contenedorMain .tips .tips__row {
      text-align: center;
      letter-spacing: 1px;
      line-height: 25px;
      margin-left: 20px;
      margin-right: 20px;
      padding-left: 50px; }
      .contenedorMain .tips .tips__row .tips__row__cont {
        flex-wrap: wrap;
        margin-right: 0px;
        padding: 15px; }
        .contenedorMain .tips .tips__row .tips__row__cont .tips__row__cont__text {
          color: #101414;
          margin: 10px;
          font-size: 18px;
          text-align: start; }
        .contenedorMain .tips .tips__row .tips__row__cont .tips__row__cont__list {
          text-align: justify;
          padding: 10px;
          font-size: 18px; }
        .contenedorMain .tips .tips__row .tips__row__cont .tips__row__cont__img {
          box-shadow: #6d6b6b;
          -webkit-box-shadow: 2px 2px 6px #6d6b6b;
          -moz-box-shadow: 2px 2px 6px #6d6b6b;
          transition: all 1s;
          object-fit: cover; }
          .contenedorMain .tips .tips__row .tips__row__cont .tips__row__cont__img:hover {
            -webkit-transform: scale(1.2);
            transform: scale(1.1); }
    .contenedorMain .tips .tips__row--color {
      background-color: #e7e9e9; }

footer {
  background-color: #2b2c2c;
  color: #f7f6f1;
  letter-spacing: 1px;
  font-size: .9rem;
  padding: 2px;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "contactanos contactanos" "texto redes" "texto redes"; }
  footer .footer__titulo {
    color: #f7f6f1;
    font-size: 1rem;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding: 3px;
    font-weight: 600;
    justify-content: center;
    grid-area: contactanos; }
  footer .footer__contact {
    margin-right: 30px;
    margin-left: 60px;
    margin-bottom: 50px;
    line-height: 2rem;
    padding: 5px;
    grid-area: texto; }
    footer .footer__contact .footer__contact__link {
      text-decoration: underline;
      color: #fffbdf; }
      footer .footer__contact .footer__contact__link:hover {
        background-color: black; }
  footer .footer__redes {
    grid-area: redes; }
    footer .footer__redes .footer__redes__list li {
      list-style: none;
      display: inline-block;
      padding: 30px; }
    footer .footer__redes .fab {
      color: #fffbdf;
      font-size: 20px; }

/*Mobile First*/
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.5rem; }
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    font-size: 1.1rem; }
    header .header__menu__container .ul__li {
      margin-left: 80px;
      padding: 10px; }
    header .header__menu__container .header__menu__container__button {
      margin-right: 65px;
      margin-bottom: 30px; }
  .contenedorMain {
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "productos" "promos" "tips"; }
    .contenedorMain .productos {
      width: 95%;
      border: none;
      box-shadow: #6d6b6b;
      -webkit-box-shadow: 2px 2px 6px #6d6b6b;
      -moz-box-shadow: 2px 2px 6px #6d6b6b; }
      .contenedorMain .productos .productos__titulo {
        font-size: 1.5rem; }
      .contenedorMain .productos .productos__contenedor {
        padding: 10px;
        margin: 10px; }
        .contenedorMain .productos .productos__contenedor .productos__contenedor__img {
          width: 100%;
          height: 300px;
          margin: 1px;
          margin-top: 20px;
          padding: 1px;
          align-items: center;
          background-color: #f8f2f2; }
          .contenedorMain .productos .productos__contenedor .productos__contenedor__img img {
            width: 170px;
            height: 210px;
            box-shadow: #444242;
            -webkit-box-shadow: 2px 2px 6px #444242;
            -moz-box-shadow: 2px 2px 6px #444242; }
        .contenedorMain .productos .productos__contenedor .productos__contenedor__img__text {
          font-size: .9rem;
          text-align: center; }
    .contenedorMain .promos {
      width: 95%;
      margin: 10px;
      box-shadow: #2b2c2c;
      -webkit-box-shadow: 2px 2px 6px #2b2c2c;
      -moz-box-shadow: 2px 2px 6px #2b2c2c; }
      .contenedorMain .promos .promos__titulo {
        font-size: 1.2rem; }
      .contenedorMain .promos .promos__novedades__text {
        font-size: .2rem; }
    .contenedorMain .tips {
      width: 95%;
      margin: 10px;
      padding: 2px;
      box-shadow: #6d6b6b;
      -webkit-box-shadow: 2px 2px 6px #6d6b6b;
      -moz-box-shadow: 2px 2px 6px #6d6b6b; }
      .contenedorMain .tips .tips__titulo {
        font-size: 1.5rem; }
      .contenedorMain .tips .tips__row {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: space-around;
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px; }
        .contenedorMain .tips .tips__row .tips__row__cont {
          padding: 5px; }
          .contenedorMain .tips .tips__row .tips__row__cont .tips__row__cont__list {
            text-align: start; }
          .contenedorMain .tips .tips__row .tips__row__cont .tips__row__cont__img {
            width: 30%;
            margin: 30px;
            margin-left: 45px;
            margin-bottom: 45px;
            box-shadow: #444242;
            -webkit-box-shadow: 2px 2px 6px #444242;
            -moz-box-shadow: 2px 2px 6px #444242; }
  .footer {
    padding: 1px;
    display: flex;
    flex-direction: column;
    grid-area: footer; }
    .footer .footer__titulo {
      margin-top: 30px;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 1.3rem; }
    .footer .footer__contact {
      margin-right: 7px;
      margin-left: 7px;
      margin-bottom: 0px;
      padding: 15px;
      font-size: 1rem; }
  .footer__redes {
    margin: 0 auto;
    margin-bottom: 2px;
    margin-right: 80px;
    font-size: .9em; } }
